
main{
	height: 65vh;
}

textarea, input { outline: none; }

input[type="text"], select, input[type="number"], input[type="password"]{
	width: 30vw;
	height: 5vh;
	margin-top: 2vh;
	border: 2px solid #009FFD;
	border-radius: 10px;
	text-align: center;
	font-size: 15px;
}

input::placeholder {
	margin-left: 10px;
	padding-left: 1vw;
	font-size: 15px;
}

form {
	text-align: center;
	margin-top: 10vh;
}

button {
	margin-top: 3vh;
	border-radius: 30px;
	font-size: 15px;
	color: white;
	background: rgb(76,209,55);
	background: linear-gradient(90deg, rgba(76,209,55,1) 0%, rgba(68,189,50,1) 100%);
	border: none;
	font-weight: 700;
	padding: 10px 30px;
}

button:hover {
	background: rgb(68,189,50);
	background: linear-gradient(90deg, rgba(68,189,50,1) 0%, rgba(76,209,55,1) 100%);
}

