{{ define "header" }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers tool</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
<header>
    <h1>Careers tool</h1>

    <ul class="header-navbar">
        <li><a href="/home/">Home</a></li>
        <li><a href="/tour">Quick tour</a></li>
        <li><a href="/faq/">FAQ</a></li>
        <li><a href="/prices/">Prices</a></li>
    </ul>

    <a href="sign_up" class="register_company">Register a company</a>
</header>
{{ end }}